.embla {
  position: relative;
  height: 500px;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  align-items: flex-start;
}

.embla__slide {
  flex: 0 0 35%;
  min-width: 0;
  margin-right: 30px;
}

.embla__btn {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  background-color: var(--lime);
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.embla__btn--prev {
  left: 12px;
}

.embla__btn--next {
  right: 12px;
}

.featured-card {
  background-color: var(--lime);
  border: 1px solid var(--violet);
  border-radius: 1rem;
  padding: 1.25rem;
  margin-bottom: 1rem;
  /* width: 640px; */
  /* height: 500px; */
  box-shadow: 5px 6px 0 4px var(--violet);
  text-decoration: none;

}

.featured-card__img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.featured-card__details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;

}

.featured-card__tag {
  font-family: var(--handrawn);
  color: white;
  font-size: 24px;
  padding-top: 0.5rem;
}

.featured-card__title {
  color: var(--violet);
  font-size: 42px;
}

.featured-card__desc {
  font-family: var(--articulat);
  font-size: 18px;
  color: var(--violet);
  padding-bottom: 0.5rem;
}

/* .featured-card--focused {
  
} */

.featured-card--focused .featured-card__details {
  opacity: 1;
  max-height: 200px;
}

@media screen and (max-width: 768px) {
  .embla {
    height: auto;
  }

  .embla__slide {
    flex: 0 0 78%;
    margin-right: 0;
  }
}