.footer {
  background-color: var(--violet);
  width: 100%;
  padding: 2rem 3rem;
}

.footer__left {
  align-self: center;
}

.footer__name {
  font-family: var(--handrawn);
  font-size: 3rem;
  /* font-weight: 600; */
  color: var(--lime);
  line-height: 1;
  margin-bottom: 1rem;
}

.footer__hi-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--lime);
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 0 6px rgba(0, 0, 0, 0.25);
  padding: 12px 25px;
  cursor: pointer;
  font-family: var(--articulat);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--violet);
}

.footer__hi-btn-icon {
  padding: 12px;
  border-radius: 2rem;
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lime);
  font-size: 1.25rem;
  flex-shrink: 0;
}

.footer__email-tooltip {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: var(--violet);
  font-family: var(--articulat);
  font-size: 0.85rem;
  white-space: nowrap;
  padding: 0.3rem 0.75rem;
  border-radius: 8px;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 96px;
  margin-top: 16px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-col a {
  font-family: var(--articulat);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--lime);
  text-decoration: none;
  white-space: nowrap;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: var(--lime);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--violet);
  font-size: 1.5rem;
}

.footer__credit {
  text-align: center;
  font-family: var(--articulat);
  font-size: 16px;
  color: rgba(202, 216, 59, 0.59);
  padding: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5rem 0;
  }

  /* .footer__nav-col a {
    white-space: normal;
  } */

  .footer__name {
    text-align: center;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: center; */
    gap: 16px;
    margin-top: 0;
  }

  .footer__nav-col {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer__credit {
    padding: 1rem;
  }
}