.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.grid-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: var(--lavender);
  background-image:
    linear-gradient(to right, #7647E4 1px, transparent 1px),
    linear-gradient(to bottom, #7647E4 1px, transparent 1px);
  background-size: 3rem 3rem;
  opacity: 20%;
}